{% import "macros/listings.html" as Listings %}

{% if listing is defined %}
	{% set hasPhotos = false %}
	{% set photo = {url: 'http://placehold.it/120x120'} %}

	{% if listing.listing is defined and listing.listing.photos is defined and listing.listing.photos | length %}
		{% set hasPhotos = true %}
	{% endif %}

	<div class="panel grid-item">
		<a href="/property-details/{{listing.ListingId}}">
			<div class="top">
				{% if hasPhotos %}
					<div>
						<img src="{{listing.listing.photos[0].url}}" class="img-responsive">
					</div>
				{% else %}
					<img class="img-responsive" src="{{photo.url}}">
				{% endif %}
				<div class="listing-data">
					<span class="price">${{ listing.ListPrice | number_format(0) }}</span>
					<span>{{listing.BedroomsTotal}} Beds / {{listing.BathroomsFull}} Baths</span>
				</div>
			</div>
			<div class="bottom">
				<p>{{Listings.fullAddress(listing, {separated: true})}}</p>
			</div>
		</a>
	</div>
{% endif %}